{% extends 'base.html' %}
{% load static %}

{% block title %}{{ producto.nombreProducto }} - ZUMEPROTH{% endblock title %}
{% block style %} <link rel="stylesheet" href="{% static 'css/detalle.css' %}"> {% endblock style %}

{% block main %}

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
          <p>
            <a href="{% url 'home' %}" class="btn btn-secondary my-2">Página Principal</a>
          </p>
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ producto.nombreProducto }}</h1>
          <img src="{{ producto.imagen }}" class="img-fluid" alt="{{ producto.nombreProducto }}" />
        </div>
      </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>Descripción</h3>
            <p>{{ producto.descripcion }}</p>
            
            <p>Categoría: <a href="{% url 'categoria' producto.categoria %}"><strong>{{producto.categoria}}</strong></a></p>
            <p><strong>Stock disponible:</strong> {{ producto.stock }}</p>
            <p><strong>Precio:$ {{ producto.precio }}</strong></p>
            
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock main %}